*{
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: MyriadPro-Light;
  src: url("../fonts/myriadpro-light.otf");
}
.container{
  min-height: 950px;
  background:linear-gradient(-150deg, #6049a9,#6049a9,#cc3b82,#d14681,#debd6d,#f3ae36);
  max-width: 1500px;
  margin: 0px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  .content{
    width: 500px;
    height: 750px;
    //border: 1px solid red;
    display: flex;
    background-color: white;
    flex-direction: column;
    box-shadow: 8px 5px 15px #433e3f;
    .header{
      width: 100%;
      height: 70px;
      position: relative;
      display: flex;
      .images{

      }
     .image-ava{
       padding: 15px 15px 10px 15px;
       .avatar{
         width: 45px;
         height: 45px;
         border-radius: 50%;
         background-color: black;
         //padding: 15px;
         //position: absolute;
         //left: 20px;
         //top: 10px;
       }
     }
      .user{
        width: 150px;
        height: 80%;
        padding:20px 15px 0px 5px;
        //position: absolute;
        //top: 15px;
        //left: 75px;
        p{
          font-family: MyriadPro-Light;
          font-weight: bold;
          color: #767676;
          font-size: 13px;
        }
      }
      .follow{
        padding: 20px 0px 0px 75px;
        #fl2{
          position: absolute;
          right: 90px;
          top: 35px;

        }
      }
      .option{
        //float: right;
        padding: 25px;
        //position: absolute;
        //top: 25px;
        //right: 20px;
      }
    }
    .images{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 510px;
      background-color: #dfdede;
    }
    .footer{
      width: 100%;
      height: 170px;

      //border: 1px solid red;
      display: flex;
      flex-direction: column;
      //position: relative;
      .nav{
        display: flex;
      }
      .item2{
        //position: absolute;
        //top: 25px;
        //left: 85px ;
        //padding: 25px 25px 25px 0px;
        padding: 25px 25px 0px 0px;

      }
      .item4{
        padding: 25px 25px 0px 0px;
      }
      .item3{
        padding: 25px 25px 0px 245px;
      }
      .item1{
        padding: 25px 25px 0px 25px;
        //position: absolute;
        //top: 25px;
        //left: 30px ;
      }
    }
    .like{
      padding: 15px 0px 0px 30px;
      //position: absolute;
      //top: 75px;
      //left: 35px;
    }
    .status{
      width: 100%;
      padding: 20px 0px 25px 30px;
      display: flex;
      .coon{
        padding-left: 45px;
      }
      span{
        font-family: MyriadPro-Light;
        font-weight: bold;
        color: #356bb4;
        //padding: 15px 25px 50px 25px;
        padding-bottom: 35px;
        //position: absolute;
        //top: 0px;
        //left: 150px;
      }
    }
  }
  .design{
    margin-top: 35px;
  }
}